@import "partials/normalize";

@mixin flex($direction){
	display: flex;
	flex-direction:$direction;
}

// VARIABLES 

/* Fonts */
$Montserrat: 'Montserrat', sans-serif;
$Droid: 'Droid Serif', serif;
$Playfair: 'Playfair Display', serif;
$pageGray: rgba(208, 208, 208, 0.30);

// H E A D E R 

header{
	background-image: url('../src/assets/header_slider.jpeg');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	height:110vh;
	color:white;
	filter: brightness(0.85);
}

.navegation{
	@include flex(row);
}

.logoTop{
	width:50%;
	margin-left:20px;
	img{
		height:40px;
		width:70px;
	}
}

.navbar{
	width:50%;
}

.navbar__items{
	list-style: none;
	float:right;
	@include flex(row);
	justify-content:center;
	align-items:center;
	a{
		text-decoration: none;
		color:white;
		font-family: $Montserrat;
		font-size:10px;
	}
	li{
		display: flex;
		justify-content:center;
		align-items:center;
		margin-right:15px;
	}
}

.headerContent{
	@include flex(column);
	align-items:center;
	font-family:$Droid;
	font-size:12px;
	font-weight:lighter;
	margin-top: 70px;
	p{
		margin:0;
	}
}

.dot{
	font-size:3px;
	color:white;
}

.searchHeader, .barsHeader{
	margin-left:15px;
}

img.logoMoose{
	height:150px;
	width:130px;
}

.brushMain{
	height:130px;
	width:470px;
}

.lineHeader{
	width:45px;
	border-bottom:5px solid white;
	margin-top:0;
	margin-bottom:20px;
}

.purchaseHeader{
	font-family: $Montserrat;
	color:white;
	border:2px solid white;
	background-color: transparent;
	padding:13px 18px;
	font-size: 9px;
	margin-top:20px;
}

//S U B H E A D E R -general
.sectionHeader{
	@include flex(column);
	justify-content:center;
	align-items:center;
	margin-bottom:30px;
	h3{
		margin:0;
		font-family: $Montserrat;
		font-weight: lighter;
		letter-spacing: 2px;
		font-size:15px;
	}
	p{
		font-family: $Droid;
		color: rgb(149, 149, 149);
		font-size: 11px;
	}
}

.sectionHeaderLine{
	@include flex(row);
	align-items:center;
	justify-content:center;
}

.subheaderLine{
	width:135px;
	border-bottom:1px solid $pageGray;
	border-color:$pageGray;
	background-color: lighten($pageGray, 25%);
}

.mooseSubheader{
	margin:5px 10px;
	height:28px;
	width:28px;
}

// H I S T O R Y 

.history{
	@include flex(column);
	align-items:center;
	justify-content:center;
	padding-top:70px;
}

.historyImage{
	background-image: url('../src/assets/second_header2.jpg');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height:310px;
	width:61%;
	@include flex(column-reverse);
}

.whiteSpace{
	width:690px;
	height:45px;
	background-color:white;
	margin:0 auto;
}

.historyContent{
	@include flex(column);
	align-items:center;
	height:145px;
	width:690px;
	box-shadow: -3px 3px 5px lightgray, 3px 3px 5px lightgray;
	border-top:none;
	overflow: hidden;
	p{
		font-family: $Droid;
		color:rgb(149, 149, 149);
		font-size:10px;
		line-height: 15px;
		width:90%;
		margin:0 auto;
		text-align: center;
	}
}

button.directWork{
	background-color:transparent;
	border:1px solid black;
	font-family:$Montserrat;
	font-size:8px;
	letter-spacing: 1px;
	margin:20px auto 0 auto;
	padding:10px 20px;
}

// S E R V I C E S 

.services{
	padding-bottom:130px;
	padding-top:155px;
}

.services__container{
	@include flex(row);
	width:61%;
	margin:0 auto;
	text-align: center;
	h4{
		font-family: $Montserrat;
		font-weight: lighter;
		font-size: 13px;
	}
	p{
		font-family: $Droid;
		color: rgb(149, 149, 149);
		font-size:10px;
		margin:0;
		line-height: 18px;
	}
	img{
		height:28px;
		width:28px;
	}
}

img.cameraIcon{
	height:24px;
	width:27px;
}

.webPhoto, .creativeDev, .marketingBranding{
	@include flex(column);
	width:33.33%;
}

.webPhoto, .creativeDev{
	border-right:1.5px solid $pageGray;
}

.web, .creative, .marketing{
	border-bottom:1.5px solid $pageGray;
	padding:0 20px 50px 20px;
}

.photography, .development, .branding{
	padding:50px 20px 0 20px;
}

// P O R T F O L I O 

.portfolio{
	padding-bottom:72px;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	color:white;
	text-align:center;
	h5{
		font-family: $Montserrat;
		font-weight: lighter;
		margin-bottom:3px;
		font-size: 11px;
	}
	p{
		margin:0;
		font-family: $Droid;
		font-size: 9px;
		font-weight: lighter;
	}
}

.searchServices{
	margin-top:30%;
	background-color:white;
	color:black;
	font-size:15px;
	font-weight: lighter;
	padding:15px;
	text-align:center;
}

.portfolioContainer{
	@include flex(row);
	width:61%;
	height:610px;
	margin:0 auto;
	justify-content:space-between;
	box-sizing: border-box;
	img{
		width:245px;
	}
}

.firstCol, .secondCol, .thirdCol{
	@include flex(column);
	width:245px;
	justify-content:space-between;
	box-sizing: border-box;
}

.deerOne, .manForest{
	height:185px;
	position:relative;
	width:245px;
	img{
		height:100%;
	}
	&:hover .overlay{
		visibility: visible;
	}
}

.forestOne, .babyDeer{
	height:400px;
	position:relative;
	width:245px;
	img{
		height:100%;
	}
	&:hover .overlay{
		visibility: visible;
	}
}

.deerTwo, .deerThree, .mooseOne{
	height:185px;
	position:relative;
	width:245px;
	img{
		height:100%;
	}
	&:hover .overlay{
		visibility: visible;
	}
}

// R E S U L T S 

.results{
	height:265px;
	background-image:url('../src/assets/mountains_hero.jpeg');
	background-position: 10% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	position:relative;
}

.resultsContainer{
	@include flex(row);
	width:61%;
	margin:0 auto;
	color:white;
	text-align: center;
	h2{
		font-family: $Montserrat;
		font-weight: normal;
		font-size: 28px;
		margin:0;
	}
	p{
		font-family: $Playfair;
		font-size: 15px;
		font-weight: lighter;
	}
	hr{
		width:30px;
	}
}

.projects, .clients, .hours, .cup{
	width:25%;
}

.colorOverlay{
	display:flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(18, 8, 0, 0.6);
	align-items:center;
}

// N E W S

.news{
	padding-top:60px;
	padding-bottom:70px;
}

.newsContainer{
	width:61%;
	margin:0 auto;
	@include flex(row);
	justify-content:space-between;
}

.colOne{
	@include flex(column);
	width:48%;
	img{
		width:100%;
		height:250px;
	}
	h4{
		font-family: $Montserrat;
		font-size: 11px;
		font-weight: normal;
		margin-top:20px;
		margin-bottom:0;
		letter-spacing: 1px;
	}
	p{
		font-family: $Droid;
		color: rgb(149, 149, 149);
		font-size:10.5px;
		margin:0;
		line-height: 18px;
	}
}

.dateMain{
	margin:10px 0 !important;
}

.colTwo{
	@include flex(column);
	justify-content:space-between;
	width:48%;
}

.row__img{
	height:120px;
	width:180px;
}

.rowOne, .rowTwo, .rowThree{
	@include flex(row);
	width:100%;
	h4{
		font-family: $Montserrat;
		font-size: 11px;
		font-weight: normal;
		margin:0;
		letter-spacing: 1px;
		line-height: 18px;
	}
	p{
		font-family: $Droid;
		color: rgb(149, 149, 149);
		font-size:9px;
		margin:0;
		line-height: 18px;
	}
}

.rowContent{
	padding-left:15px;
}

.date{
	margin:5px 0 !important;
}

// N E W S L E T T E R

.newsletter{
	background-color:rgb(247, 247, 247);
	padding:50px 0;
}

.newsletterContainer{
	width:61%;
	@include flex(row);
	margin:0 auto;
	align-items:center;
}

.newsletterInfo{
	@include flex(column);
	width:52%;
	h3{
		margin:0;
		font-family: $Montserrat;
		font-weight: normal;
		letter-spacing: 3px;
		font-size: 16px;
	}
	p{
		font-family: $Droid;
		font-size:9.5px;
		color: rgb(149, 149, 149);
		margin-top:10px;
	}
}

.newsletterInput{
	width:48%;
	@include flex(row);
	justify-content:space-between;
	input{
		width:75%;
		padding-left:10px;
		font-family: $Droid;
		font-size:9px;
		color: rgb(149, 149, 149);
		box-sizing:border-box;
		height:30px;
		background-color: transparent;
		border:1px solid $pageGray;
	}
	button{
		width:20%;
		height:30px;
		background-color:rgb(38, 38, 38);
		border:1px solid rgb(38, 38, 38);
		color:white;
		font-family: $Montserrat;
		font-size:9px;
	}
}

// F O O T E R 

footer{
	background-color:rgb(38,38,38);
	color:gray;
}

.topFooter{
	width:61%;
	margin:0 auto;
	@include flex(row);
	justify-content:space-between;
	font-family:$Montserrat;
	font-size:9px;
	padding:60px 0;
	h3{
		color:white;
		font-size:13px;
		letter-spacing: 2.5px;
		font-weight: normal;
		margin-bottom:30px;
	}
	ul{
		list-style: none;
		padding:0;
		margin:0;
	}
}

.brush, .items, .footerServices, .office{
	@include flex(column);
	width:20%;
	li{
		margin-bottom:7px;
	}
}

.brush{
	img{
		height:50px;
		width:80px;
	}
	p{
		line-height: 15px;
	}
}

.socialMedia{
	i{
		font-size: 15px;
		margin-right:10px;
		&:hover{
			color:white;
		}
	}
}

.items{
	@include flex(row);
	flex-wrap:wrap;
	justify-content:space-between;
	h3{
		width:100%;
	}
	p{
		margin:0 0 5px 0;
		border:1px solid darken(gray, 10%);
		padding:5px;
		&:hover{
			color:white;
			border:1px solid white;
		}
	}
}

.bottomFooter{
	@include flex(row);
	align-items:center;
	justify-content:center;
	background-color:black;
	height:50px;
	border-top:1px solid $pageGray;
	p{
		font-family: $Montserrat;
		font-size: 11px;
	}
}


